/* styles/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #fefae0ff;
}

.nav-menu {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: black;
}

h1 {
  font-family: Fraunces 9pt;
  font-size: 48px;
  font-weight: 900;
  line-height: 56px;
  letter-spacing: 0px;
  text-align: center;
}

h2 {
  font-family: Fraunces 9pt;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
}

h3 {
  font-family: Fraunces 9pt;
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
}

h4 {
  font-family: Fraunces 9pt;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
}

h5 {
  font-family: Fraunces 9pt;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  overflow-wrap: break-word;
  line-height: 24px;
  color: black;
}

.bg-tea-green {
  @apply bg-[#ccd5aeff];
}

.bg-beige {
  @apply bg-[#e9edc9ff];
}

.bg-cornsilk {
  @apply bg-[#fefae0ff];
}

.bg-papaya-whip {
  @apply bg-[#faedcdff];
}

.bg-buff {
  @apply bg-[#d4a373ff];
}
